@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SecondProject.Models.Group>
 td - столбцы 
<div class="text-center">
    <h1 class="display-4">Учебные группы</h1>
    <table border="1" , align="center" cellpadding="15">
        <tr>
            <td>Группа</td>
            <td>Учитель</td>
            <td>Число судентов</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> Группа - @item.GroupName</td>
                <td>@item.Teacher</td>
                @*<td>@item.Number</td>*@
                <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@item.GroupId">Изменить</a></td>
                <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@item.GroupId">Удалить</a></td>
            </tr>
        }
    </table>
</div>

<p class="nav-item">
<p style="text-align: center">
    <button align="center"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GroupCreate">Создать учебную группу</a></button>
</p>
    </p>